body {
    display: flex;
    align-self: center;
    align-content: center; 
    justify-content: space-around;
    align-items: center; 
    flex-direction: row; 
    margin: 10px; 
    flex-wrap: wrap; 
}
    
    .row{
    
    display: flex; 
    justify-content: center;
    gap: 20px;
    }
    .col {
    
    flex: 1;
    
    }
    
    .card {
    
    width: 18rem;
    }